@model WebCalc.Models.Statistic

@{
    ViewBag.Title = "Статистика";
}

<h2>Статистика</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Operation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avg)
        </dd>

    </dl>
</div>
